{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% block title %}{{list.title}} set list{% endblock %}

{% block extra_css %}
<style>
.slist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slist li {
  margin: 10px;
  padding: 15px;
  border: 1px solid #dfdfdf;
  background: #f5f5f5;
  cursor: pointer;
  width: 600px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

/* (B) DRAG-AND-DROP HINT */
.slist li.hint {
  border: 1px solid #ffc49a;
  background: #feffb4;
}
.slist li.active {
  border: 1px solid #ffa5a5;
  background: #ffe7e7;
}
.controls {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px dotted #ccc;
}
#song-picker {
    font-size: 1.6em;
    width: 400px;
    text-align: center;
    margin-right: 20px;
}
#song-picker option {
    border:none;
}
p {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}
@media print {

    nav,button,select,wagtail-userbar {
        display: none;
    }
    h1 {
        text-align: center;
    }
    .np {
        display: none;
    }
    .slist li {
        border: none;
        font-size: 1em;
        padding: 5px;
        height: 1.2em;
        list-style-type: decimal;
        display: list-item;
        list-style-type: decimal;
    }
}
</style>
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% if do_print %}
    {% for song in list.songs.all %}
        {% for chart in song.charts.all %}
            <img width="100%" src="{{chart.file.url}}" />
        {% endfor %}
    {% endfor %}
    {% else %}
    <h1 class="title">{{list.title}}</h1>
    {% if list.notes %}
    <p class="content">{{list.notes}}</p>
    {% endif %}
    <ol class="slist" id="setlist">
        {% for song in list.songs.all %}
        <li id="{{song.id}}">{{song}}
            {% if not user.is_anonymous %}<div>
            <button onclick="location='/django-admin/setlist/song/{{song.id}}/change/'" class="button is-small is-rounded np">Edit</button>
            <button onclick="removeSong('{{song.id}}')" class="delete">Delete</button>
            </div>{% endif %}
        </li>
        {% endfor %}
    </ol>
    {% if not user.is_anonymous %}
    {% if all_songs %}
    <select id="song-picker">
        {% for song in all_songs %}
        <option name="{{song.title}}" value="{{song.id}}">{{song.title}}</option>
        {% endfor %}
    </select>
    <button id="add-song" class="button is-small np">Add</button>
    {% endif %}
    <div class="controls np flex mb-4">
        <button class="button" onclick="location = '/setlist/{{list.id}}/?print=1'">Print Charts</button>
        <button class="button" onclick="location = '/django-admin/setlist/setlist/{{list.id}}/change/?next=/setlist/{{list.id}}/'">Edit</button>
        <button id="set-order-button" class="button alert" style="display:none">Save</button>
        <button onclick="location = '/setlist/{{list.id}}/duplicate/'" class="button alert">Duplicate</button>
    </div>
    {% endif %}
    {% endif %}
    {% csrf_token %}
{% endblock %}

{% block extra_js %}
{% if not user.is_anonymous %}
<script type="text/javascript">

function slist (target) {
  // (A) SET CSS + GET ALL LIST ITEMS
  target.classList.add("slist");
  let items = target.getElementsByTagName("li"), current = null;

  // (B) MAKE ITEMS DRAGGABLE + SORTABLE
  for (let i of items) {
    // (B1) ATTACH DRAGGABLE
    i.draggable = true;
    
    // (B2) DRAG START - YELLOW HIGHLIGHT DROPZONES
    i.ondragstart = e => {
      current = i;
      for (let it of items) {
        if (it != current) { it.classList.add("hint"); }
      }
    };
    
    // (B3) DRAG ENTER - RED HIGHLIGHT DROPZONE
    i.ondragenter = e => {
      if (i != current) { i.classList.add("active"); }
    };

    // (B4) DRAG LEAVE - REMOVE RED HIGHLIGHT
    i.ondragleave = () => i.classList.remove("active");

    // (B5) DRAG END - REMOVE ALL HIGHLIGHTS
    i.ondragend = () => { for (let it of items) {
        it.classList.remove("hint");
        it.classList.remove("active");
    }};
 
    // (B6) DRAG OVER - PREVENT THE DEFAULT "DROP", SO WE CAN DO OUR OWN
    i.ondragover = e => e.preventDefault();
 
    // (B7) ON DROP - DO SOMETHING
    i.ondrop = e => {
      e.preventDefault();
      if (i != current) {
        let currentpos = 0, droppedpos = 0;
        for (let it=0; it<items.length; it++) {
          if (current == items[it]) { currentpos = it; }
          if (i == items[it]) { droppedpos = it; }
        }
        if (currentpos < droppedpos) {
          i.parentNode.insertBefore(current, i.nextSibling);
        } else {
          i.parentNode.insertBefore(current, i);
        }
      }
      document.getElementById('set-order-button').style.display = '';
    };
  }
}
function save_list() {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    let list_nodes = document.getElementById('setlist').children;
    var new_order = {};
    for (let i=0; i<list_nodes.length; i++) {
        new_order[parseInt(list_nodes[i].id)] = i+1;
    }
    // return;
    fetch("/setlist/{{list.id}}/edit/", {
      method: "POST",
      body: JSON.stringify({
        title: "{{list.title}}",
        order: new_order
      }),
      headers: {
        "Content-type": "application/json; charset=UTF-8",
        "X-CSRFToken": csrftoken
      }
    })
      .then((response) => response.json())
      .then((json) => location = location);
}

function removeSong(elt_id) {
    document.getElementById('setlist').removeChild(document.getElementById(elt_id));
    save_list();
}

window.addEventListener("load", function() {
    {% if do_print %}
        window.setTimeout(window.print, 1000);
    {% else %}
        slist(document.getElementById('setlist'));
        {% if all_songs %}
        document.getElementById("add-song").onclick = function() {
            let new_song = document.getElementById("song-picker");
            let elt = document.createElement('li');
            elt.id =  new_song.value;
            elt.innerText = new_song.options[new_song.selectedIndex].text;
            document.getElementById('setlist').appendChild(elt);
            save_list();
        };
        {% endif %}
        document.getElementById('set-order-button').onclick = function() {
            if (confirm("Are you sure you want to re-arrange {{list.title}}?")) {
                save_list();
            }
        };
    {% endif %}
});

</script>
{% endif %}
{% endblock %}