{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra_css %}
<style>
    h1 {
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin-left: auto;
        justify-content: center;
    }
    form p {
        display: flex; 
        margin: 10px;
   }
    form label {
        font-weight: bold;
        font-size: 1.5em;
        width: 15%;
    }
    form input,textarea {
        font-size: 1.5em;
        width: 50%;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    form textarea {
        height: 100px;
    }
    input[type=submit] {
        border: 1px solid #000;
        background-color: #ACBDDC;
        font-weight: bold;
        cursor: pointer;
    }
    input[type=submit]:hover {
        background-color: #5282DC;
    }
    .helptext {
        visibility: hidden;
    }
    .centered {
        margin-left: 10%;
    }
</style>
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <h1>{{page.title}}</h1>
    <form action="{% pageurl page %}" method="POST">
        {{ page.intro|richtext }}
        {% csrf_token %}
        {{ form.as_p }}
        <p class="centered"><input type="submit" value="Send"></p>
    </form>

{% endblock %}

