{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block extra_css %}
<style>
    textarea {
        height: 100px;
    }
</style>
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
{% load bulma_tags %}

    <h1 class="title">{{page.title}}</h1>
    <div class="columns">
        <div class="column is-half">
            <form action="{% pageurl page %}" method="POST" class="mb-6 ">
                <div class="content">{{ page.intro|richtext }}</div>
                {% csrf_token %}
                {{ form|bulma }}
                <div class="field has-text-centered">
                    <input type="submit" value="Send" class="button is-primary is-large is-fullwidth">
                </div>
            </form>
        </div>
    </div>

{% endblock %}

