body {
    font-family: sans-serif;
    padding-left: .5em;
}
h1,h2,h3,h4,h5,h6,h7 {
    font-family: "Times New Roman", serif;
}
nav {
    border-bottom: 1px solid #ccc;
    padding-bottom: .5em;
    margin-bottom: 1.5em;
}
nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    font-size: 1.5em;
}
nav ul li {
    padding-right:.9em;
}
.flex {
    display: flex;
}

.flex div {
    width: 50%;
}

.venue {
    line-height: 1em;
    text-align: center;
    font-size: 2em;
}
.venue p {
    font-size: .8em;
}
.track {
    cursor: pointer;
    color: #E6844E;
    margin-left: .25em;
}

li.upcoming {
    font-size: 2em;
    list-style: none;
    margin-bottom: 1em;
    padding: 1em;
    border-bottom: 1px dotted #ccc;
}

.show-index h1 {
    text-align: center;
}

@media print {
    nav {
        display: none;
    }
    #logolink {
        display: none;
    }
    #wagtail-userbar-template {
        display: none;
    }
}