{% extends "base.html" %}

{% block body_class %}show-index{% endblock %}

{% block content %}

<div class="columns">
{% if upcoming_shows %}
    {% load static %}
    <div class="column has-text-centered is-two-thirds">
        <h1 class="title is-1">Upcoming <a href="/cal/" title="Subscribe to calendar"><img src="{% static 'img/calendar.png' %}" width=32></a></h1>
        {% for show in upcoming_shows %}
            <div class="card mb-6 has-background-info-light">
                <div class="card-content">
                    <p class="title"><a href="{{show.url}}">{{show.start|date:"F jS Y @ P"}}</a></p>
                    <p class="subtitle">{{show.venue}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if past_shows %}
    <div class="column has-text-centered">

        <h1 class="title is-2">Past</h1>
        <ul>
            {% for show in past_shows %}
            <li class="subtitle is-5"><a href="{{show.url}}">{{show.start.date}} @ {{show.venue}}</a> </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
</div>
{% endblock %}