{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block extra_css %}
<link rel = "stylesheet" href = "//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock %}

{% block body_class %}show-page{% endblock %}

{% block content %}
<div class="columns">
    <div class="column has-text-centered">
        <h1 class="title is-2">{{page.start|date:"l, F jS"}}</h1>
        {% if not page.is_past %}<h2 class="subtitle is-2">{{page.start|date:"P"}}</h2>{% endif %}
        <h2 class="subtitle is-2"><a href="{{page.venue.best_url}}" target="_new">{{page.venue}}</a></h1>
        <h2 class="subtitle is-3">{{page.venue.city}}, {{page.venue.state}}</h2>
        {% if not page.is_past %}
        <h3 class="subtitle is-4"><a href="{{page.venue.map_url}}" target="_new">Directions</a></h3>

        <!-- <div id="my-map" style="width:400px; height:400px;"></div> -->
        {% endif %}

        {% if page.body %}
        <hr>
        {{ page.body|richtext }}
        {% endif %}
    </div>

    <div class="column">
    {% if page.recordings %}
    <div>
        <h3 id="currently-playing" class="subtitle"></h3>
        <audio id="player" src="" controls="controls" autoplay="autoplay" align="" data-track="0"></audio>
        <ol id="playlist">
            {% for recording in page.get_recording_docs %}
            <li data-src="{{recording.url}}" title="{{recording.title}}">
                <a href="{{recording.url}}" title="download">&darr;</a>
                <span class="track" onclick="playTrack({{forloop.counter0}}, true)">{{recording.title}}</span> 
            </li>
            {% endfor %}
        </ol>

        <script type="text/javascript">
            var currently_playing = document.getElementById('currently-playing');
            var player = document.getElementById('player');
            function playTrack(track, play) {
                let item = document.getElementById('playlist').children[track];
                player.src = item.getAttribute('data-src');
                player.load();
                if (play) {
                    player.play();
                }
                player.setAttribute('data-track', track);
                currently_playing.innerText = item.title;
            }
            function setup() {
                var nodes = document.getElementById('playlist').children;

                player.addEventListener('ended', function() {
                    let track = parseInt(player.getAttribute('data-track'));
                    track++;
                    if (track == nodes.length)
                    {
                        track = 0;
                    }
                    playTrack(track, true);
                    }, false);
                playTrack(0, false);
            }
            setup();
        </script>

    </div>
    {% endif %}
        {% if page.set_list and not user.is_anonymous %}
    <h3><a href="/setlist/{{page.set_list.id}}/">Set List</a></h3>
    <ol>
        {% for song in page.set_list.songs.all %}
        <li>{{song}} {% for chart in song.charts.all %}<a href="{{chart.file.url}}">{{forloop.counter}}</a> {% endfor %}</li>
        {% endfor %}
    </ol>
    <hr>
    {% endif %}

    </div>
</div>
{% endblock %}

{% block extra_js %}
<!--
<script src = "//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
 // Creating map options
 var mapOptions = {
 center: [42.3601, -71.88202],
 zoom: 16
 }
 var map = new L.map('my-map', mapOptions);
 
 var layer = new  L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
 
 map.addLayer(layer);
 </script>
-->
{% endblock %}