{% extends "base.html" %}

{% block body_class %}show-index{% endblock %}

{% block content %}

{% if upcoming_shows %}
<h1>Upcoming</h1>
<ul>
    {% for show in upcoming_shows %}
    <li class="upcoming">{{show.start}} at <a href="{{show.url}}">{{show.venue}}</a></li>
    {% endfor %}
</ul>
<hr>
{% endif %}

{% if past_shows %}
<h1>Past</h1>
<ul>
    {% for show in past_shows %}
    <li><a href="{{show.url}}">{{show.start.date}} @ {{show.venue}}</a> </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}