{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}show-page{% endblock %}

{% block content %}
<div class="columns mt-3">
    {% if recordings %}
    <div class="column is-two-thirds">
        <div class="box">
            <h3 id="currently-playing" class="subtitle has-text-centered is-4"></h3>
            <audio class="media" id="player" src="" controls="controls" autoplay="no" align="" data-track="0"></audio>
            <ul id="playlist" class="content pl-2 pt-3">
                {% for recording in recordings %}
                <li 
                    class="recording-item has-background-light has-text-centered has-text-success-dark is-size-5 ml-2 pl-3 pr-3 pb-2 pt-2" 
                    data-src="{{recording.url}}" 
                    data-docid="{{recording.id}}" 
                    data-track="{{forloop.counter0}}"
                    title="{{recording.title}}">
                    <span id="title-{{forloop.counter0}}" class="track">{{recording.title}}</span>
                    {% if is_admin %}{% if not recording.is_public %}<span class="has-text-danger-dark">(private)</span>{% endif %}{% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
    </div>
    {% endif %}
    <div class="column has-text-centered">
        <div class="card">
            <div class="card mb-6 has-background-info-light">
                <div class="card-content">

                    <h1 class="title is-2">{{page.start|date:"l, F jS"}} {% if is_past %}{{page.start|date:"Y" }}{% endif %}</h1>
                    {% if not is_past %}<h2 class="subtitle is-2">{{page.start|date:"P"}}</h2>{% endif %}
                    <h2 class="subtitle is-2"><a href="{{page.venue.best_url}}" target="_new">{{page.venue}}</a></h2>
                    <h2 class="subtitle is-3">{{page.venue.city}}, {{page.venue.state}}</h2>

                    {% if page.body %}
                    <hr>
                    {{ page.body|richtext }}
                    {% endif %}
                </div>
                <footer class="card-footer">
                    {% if not is_past %}
                    <a class="card-footer-item" href="{{page.venue.map_url}}" target="_new">Directions</a>
                    {% endif %}
                </footer>
            </div>
        </div>
        {% if page.set_list and not user.is_anonymous %}
        <div class="box has-text-left">
            <h3 class="subtitle mt-4"><a href="/setlist/{{page.set_list.id}}/">Set List</a></h3>
            <ol class="ml-5">
            {% for song in page.set_list.get_ordered_songs %}
                <li>{{song}} {% for chart in song.sorted_charts %}<a href="{{chart.file.url}}">{{forloop.counter}}</a> {% endfor %}</li>
            {% endfor %}
            </ol>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% if recordings %}
{% include "js_player.html" %}
{% endif %}
<!--
<script src = "//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
 // Creating map options
 var mapOptions = {
 center: [42.3601, -71.88202],
 zoom: 16
 }
 var map = new L.map('my-map', mapOptions);
 
 var layer = new  L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
 
 map.addLayer(layer);
 </script>
-->
{% endblock %}