{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block title %}{{song.title}} charts{% endblock %}

{% block extra_css %}
<style type="text/css">
    img {
        height: 100vh;
    }
</style>
{% endblock %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="columns">
    <div class="column">
        {% load wagtailimages_tags %}

        <h1 class="title is-1 np">{{song.title}}</h1>
        {% if song.notes %}<h2>{{song.notes}}</h2>{% endif %}
        {% if is_authenticated %}
        {% for chart in song.sorted_charts %}
        <img src="{% image_url chart "original" %}" />
        {% endfor %}
        {% endif %}
        <section class="np has-text-centered">
        <hr>
        {% if song.recordings.exists %}
        <h2 class="subtitle">Recordings</h2>
        <ul class="content">{% for doc in song.recordings.all %}
            <li><a href="{{doc.url}}">{{doc.title}}</a> from {{doc.collection}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h2 class="subtitle mt-2">Set Lists Containing</h2>
        <ul class="mb-4 has-text-centered">
        {% for setlist in used_in %}
            <li><a href="/setlist/{{setlist.id}}/">{{setlist}}</a></li>
        {% endfor %}
        </ul>

        {% if can_change %}
        <a href="/django-admin/setlist/song/{{song.id}}/change/" class="button is-primary is-large is-fullwidth">Edit</a>
        {% endif %}
        </section>
    </div>
</div>
{% endblock %}

