li.recording-item {
    cursor: pointer;
}
audio {
    width: 100%;
}

@media print {
    nav,button,select,wagtail-userbar {
        display: none;
    }
    #logolink {
        display: none;
    }
    #wagtail-userbar-template {
        display: none;
    }
    wagtail-userbar {
        display: none;
    }
    .np {
        display: none;
    }

    .buttons,.field,.control,.delete {
        display: none;
    }
    h1 {
        text-align: center;
    }
    .slist li {
        border: none;
        font-size: 1em;
        padding: 5px;
        height: 1.2em;
        list-style-type: decimal;
        display: list-item;
        list-style-type: decimal;
    }
    #functions {
        display: none;
    }
}

}